@import "https://use.typekit.net/nkz4vjb.css";

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ivymode", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

p, a {
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  /*letter-spacing: -.01rem;*/
}

a {
  text-decoration: none;
  color: #433621;
}

a:hover {
  color: #cabead;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}


@media (width>1000px){
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
  }
}

:root {
  color: #433621;
  background-color: #e3dada;
}

/*@media (prefers-color-scheme: light) {

}*/
